*{
    background-color: #077054;
}

.title{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    height: 160px;
    width: auto
}

.title-1{
    font-family: ;
    font-size: 50px;
    color: #99FA99;
    margin-bottom: 8px;
}

.title-2{
    font-family: ;
    font-size: 26px;
    color: #B6D8CF;
}

.links-home{
    text-align: center;
}
.links-home a{
    text-decoration: none;
    font-size: 18px;
    color: #B6D8CF;
    padding: 30px;
}

.folder{
    width: 968px;
    height: 980px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.text-1{
    font-size: 55px;
    color: #21A51E;
}

.text-2{
    font-size: 43px;
    color:  #21A51E;
}

.text-footer-1{
    font-size: 26px;
    color: #99FA99;
    margin-bottom: 8px;
}

.text-footer-2{
    font-size: 12px;
    color:  #B6D8CF;
}

.icons-footer a{
    font-size: 26px;
    color:  #99FA99;
    text-decoration: none;

}

.footer-page{
    width: 968px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}