body{
    background-color: #077054;
}

.title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 130px;
    width: 960px;
    padding: 30px 0px;
}


.title-1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #99FA99;
    margin-bottom: 8px;
}

.title-2{
    font-family: 'Nixie One', cursive;
    font-size: 26px;
    color: #B6D8CF;
}

.links-home{
    text-align: center;
    margin-bottom: 6px;


    
}

.links-home a:hover{
    color:  palevioletred;
}

.links-home a{
    text-decoration: none;
    font-size: 18px;
    color: #B6D8CF;
    padding: 0 40px;
    font-family: 'Lato', sans-serif;
}

.links-home .link-active {
    color: #99FA99 !important;
}

.folder{
    width: 960px;
    height: 827px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.text-1{
    font-family: 'Nixie One', cursive;
    font-size: 100px;
    color: #21A51E;
   
    
    
}

.element-border{
    width: 100px;
    border: 4px solid palevioletred;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    margin-top: 45px;
}

.text-2{
    font-family: 'Nixie One', cursive;
    font-size: 100px;
    color:  #21A51E;
    
}

.home img{
    margin: 74px 38px 46px;
}
.text-footer-1{
    font-size: 26px;
    color: #99FA99;
    margin-bottom: 8px;
    font-family: 'Lato', sans-serif;
}

.text-footer-2{
    font-size: 12px;
    color:  #B6D8CF;
    font-family: 'Lato', sans-serif;;
}

.icons-footer a{
    font-size: 26px;
    color:  #99FA99;
    text-decoration: none;

}

.footer-page{
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 10px;

}

.home-about{
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 45px 40px 46px;
    line-height: 30px;

}

.about-title-1{
    font-family: 'Nixie One';
    font-size: 35px;
    color: #21a51e;
    margin-bottom: 44px;
}

.about-title-2{
    font-family: 'Nixie One';
    font-size: 23px;
    color: #315f52;
    margin-bottom: 6px;
}

.about-text{
    color: #315f52;
    font-family: 'latoregular';
    font-size: 14px;
    margin-bottom: 15px;

}

.blog-text-date{
    color: #315f52;
    font-family: 'latoregular';
    font-size: 14px;
}

.post-blog{
    display: flex;
    margin-bottom: 60px;

}

.post-blog-2{
    margin-left: 20px;
}

.area-form{
    margin-left: 200px;
    margin-right: auto;
    line-height: 45px;
    position: relative;
}

.area-form-1{
    width: 460px;
    height: 48px;
    background: #D1D3D4;
    text-decoration: none;
    border: 1px solid  #b6d8cf;
}

.area-form-2{
    width: 460px;
    height: 252px;
    background: #D1D3D4;
    text-decoration: none;
    border: 1px solid  #b6d8cf;
}

.title-form{
    font-family: 'Nixie One', cursive;
    font-size: 23px;
    color: #315F52;
   
}

.form-1-question{
    color: #315f52;
    font-family: 'latoregular';
    font-size: 14px;
}

.form-button{
    position: absolute;
    right: 1px;
    color: #99fa99;
    background-color: #077054;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 50px;
    margin-top: 10px;
}

.sub-menu{
    position: relative;

}

.sub-menu:hover .sub-menu-2{
    display: inline;
}

.links-home .sub-menu-2{
    position: absolute;
    display: none;
    background-color: #077054;
    top: 100%;
    left: -2px;  
    text-decoration: none;
    font-size: 18px;
    color: #B6D8CF;
    padding: 15px 20px;
    font-family: 'Lato', sans-serif;
}

.name-instructor{
    color: #315f52;
    font-family: 'Nixie One', cursive;
    font-size: 18px;
    text-align: center;
    margin-right: 80px;
    margin-bottom: 50px;
   
}

.instructors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.img-name{
    margin-left: 0px;
    margin-right: 10px;
    
}

.folder-instructors{
    width: 960px;
    height: 827px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 46px;
}

.flex{
    display: flex;
   
}